/*//////////////////////////////////////////////////////////////////////////////
///                                PORTFOLIO                                ///
//============================================================================//
//        Author: Marcin Żemlok
//         Email: marcinzemlok@gmail.com
//       Version: 0.2
//
//   Description: My portfolio website
//
// Creation date: 29/02/2020
================================= CHANGE LOG ===================================
// [29/02/2020]        Marcin Żemlok
        Initial draft.                                                       ///
--------------------------------------------------------------------------------
// [01/03/2020]        Marcin Żemlok
        Established navigation concept.                                      ///
//////////////////////////////////////////////////////////////////////////////*/
*, *::before, *::after {
    border: none;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    color: rgb(220, 220, 220);
}

/*///////////////////////////////////////////////////////////////////////////*/
/*/ GENERAL                                                                /*/
/*/////////////////////////////////////////////////////////////////////////*/
body {
    background-image: url(../img/steel-backgrould.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

body::before {
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    content: "";
    background-color: rgba(0,0,0,0.8);

    z-index: -1;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*/ COMMON                                                                 /*/
/*/////////////////////////////////////////////////////////////////////////*/
hr {
    margin: 5px 150px;

    border: none;
    box-shadow: 0 0 5px 1px #bada55;
}

.green-text {
    color: #6c8a0c;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*/ NAVIGATINO                                                             /*/
/*/////////////////////////////////////////////////////////////////////////*/
#navigation {
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
}

#navigation::before {
    content: "";

    position: absolute;
    top: 10%;
    left: 10px;

    height: 80%;
    width: 5px;

    background-color: rgb(100, 100, 100);
}

#navigation svg {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

#nav-progres {
    x: 10px;
    y: 10%;

    height: 0;
    width: 5px;

    fill: #bada55;
}

#nav-buttons {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-button {
    margin-left: 25px;
    padding: 5px;

    font-size: 1.25rem;
    color: rgba(255, 255, 255, .2);

    font-weight: 1000;

    transition: box-shadow .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.nav-button:hover {
    cursor: pointer;
    box-shadow: inset 1px 0 2px 0 #bada55,
                inset 1px 0 10px 0 #bbda558e;
    color: rgb(220, 220, 220);
}

/*///////////////////////////////////////////////////////////////////////////*/
/*/ SECTION                                                                /*/
/*/////////////////////////////////////////////////////////////////////////*/
.section {
    padding: 0 10%;

    margin: 0 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*****************/
/* HELLO SECTION */
/*****************/
#hello-section {
    height: 100vh;
}

#hello-section h1 {
    font-family: 'Oxanium';
    font-size: 3rem;
    text-align: center;
}
