/*//////////////////////////////////////////////////////////////////////////////
///                                PORTFOLIO                                 ///
//============================================================================//
//        Author: Marcin Żemlok
//         Email: marcinzemlok@gmail.com
//       Version: 0.5
//
//   Description: My portfolio website
//
// Creation date: 29/02/2020
================================= CHANGE LOG ===================================
// [29/02/2020]        Marcin Żemlok
        Initial draft.                                                       ///
--------------------------------------------------------------------------------
// [01/03/2020]        Marcin Żemlok
        Established navigation concept.                                      ///
--------------------------------------------------------------------------------
// [04/03/2020]        Marcin Żemlok
        Timeline styling draft.                                              ///
--------------------------------------------------------------------------------
// [09/03/2020]        Marcin Żemlok
        Basic timeline done.                                                 ///
--------------------------------------------------------------------------------
// [14/03/2020]        Marcin Żemlok
        * Full timeline done.
        * About me page done.                                                ///
--------------------------------------------------------------------------------
// [15/03/2020]        Marcin Żemlok
        * Moved navbar to the top.
        * Skills section styling.                                            ///
//////////////////////////////////////////////////////////////////////////////*/
*, *::before, *::after {
    border: none;
    margin: 0;
    padding: 0;

    color: rgb(220, 220, 220);
    font-family: sans-serif;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*/ GENERAL                                                                /*/
/*/////////////////////////////////////////////////////////////////////////*/
body {
    background-image: url(../img/steel-backgrould.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

body::before {
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    content: "";
    background-color: rgba(0, 0, 0, 0.6);

    z-index: -1;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*/ COMMON                                                                 /*/
/*/////////////////////////////////////////////////////////////////////////*/
h1 {
    font-family: 'Oxanium';
    font-size: 3rem;
    letter-spacing: .5rem;
    text-align: center;
}

hr {
    margin: 5px 0;

    border: none;
    border-top: 2px solid rgb(100, 100, 100);
}

.green-text {
    color: #6c8a0c;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*/ NAVIGATINO                                                             /*/
/*/////////////////////////////////////////////////////////////////////////*/
#navigation {
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    background-color: black;

    z-index: 3;
}

#navigation::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    height: 5px;
    width: 100%;

    background-color: rgb(100, 100, 100);
}

#navigation svg {
    height: 5px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

#nav-progres {
    x: 0;
    y: 0;

    height: 100%;
    width: 50%;

    fill: #bada55;
}

#nav-buttons {
    width: 100vw;

    display: flex;
    justify-content: flex-end;
}

.nav-button {
    margin: 10px 0 5px;
    padding: 5px 10px;

    font-size: 1.25rem;
    color: rgba(255, 255, 255, .5);

    font-weight: 1000;

    transition: box-shadow .2s ease-in-out;
    transition: color .2s ease-in-out;

    letter-spacing: .5rem;
}

.nav-button + .nav-button{
    border-left: 1px solid rgba(255, 255, 255, .5);
}

.nav-button:last-child {
    margin-right: 20px;
}

.nav-button:hover {
    cursor: pointer;
    color: #bada55;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*/ SECTION                                                                /*/
/*/////////////////////////////////////////////////////////////////////////*/
.section {
    height: 100vh;

    padding: 0 10%;
}

/*****************/
/* HELLO SECTION */
/*****************/
#hello-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*****************/
/* ABOUT SECTION */
/*****************/
#about-section {
    margin-right: 0;
    padding: 0;

    position: relative;
}

/* TIMELINE */
#timeline {
    height: 50%;
    width: 100%;

    position: relative;
    z-index: 2;
}

#timeline rect, #timeline circle {
    fill: rgb(130, 130, 130);
}

#timeline circle.timeline-circle-active {
    fill: rgb(225, 225, 225);

    cursor: pointer;

    transition: 0.5s;
}

#timeline path {
    stroke: rgba(225, 225, 225, 0);
    stroke-width: 2px;
    fill: none;

    transition: 0.5s;
}

#timeline circle.timeline-circle-active + path {
    stroke: rgba(225, 225, 225, 1);

    transform: rotate(270deg);
}

#about-section img {
    width: 32px;
    padding: 3px;

    position: absolute;
    transform: translate(-50%, -50%);

    border: 1px solid rgba(225, 225, 225, 1);
    border-radius: 50%;

    opacity: 0;

    z-index: 1;

    transition: 0.5s;
}

#about-section img.icon-active {

    opacity: 1;
    transform: translate(-50%, 75%);
}

/* CARDS */
.about-me-card {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-size: cover;
    opacity: 0;

    transition: opacity 0.5s;

}

.about-me-card > div {
    min-width: 60%;
    padding: 40px 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 1);
}

.about-me-card p {
    text-indent: 1rem;
}

.about-me-card-visible {
    opacity: 1;
}

#technical-card{
    background-image: url('../img/zeg.jpg');
}

#cpp-card{
    background-image: url('../img/microcontrolers.jpeg');
}

#university-card{
    background-image: url('../img/polsl.jpeg');
}

#test-card{
    background-image: url('../img/aptiv.jpeg');
}

/******************/
/* SKILLS SECTION */
/******************/
#skills-section {
    max-width: 100vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
}

/* SKILL CARDS */
.skill-card {
    width: 40%;
    padding: 10px;

    transition: box-shadow 0.5s;
}

.skill-card:hover {
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, .5);
}

.skill-card:nth-child(even) img {
    width: 100px;

    float: left;

    margin-right: 10px;
}

.skill-card:nth-child(odd) img {
    width: 100px;

    float: right;

    margin-left: 10px;
}

.skill-card img {
    filter: grayscale();

    transition: filter 0.5s;
}

.skill-card:hover img {
    filter: none;
}
